

.separator02{ position: relative; text-align: center; display: block; margin:0 auto; width:960px; height:4.5em; padding:1em 0; }
.separator02:after { position:absolute; content:''; display:block; width:2px; height:2px; }
/* ----- 960px ----- */

.separator02:after {
	box-shadow:
	27px 12px 0 #000, 29px 12px 0 #000,
	3px 14px 0 #000, 7px 14px 0 #000, 11px 14px 0 #000, 15px 14px 0 #000, 19px 14px 0 #000, 23px 14px 0 #000, 25px 14px 0 #000, 27px 14px 0 #000, 29px 14px 0 #000, 31px 14px 0 #000,
	27px 16px 0 #000, 29px 16px 0 #000,	
	37px 10px 0 #000, 39px 10px 0 #000, 41px 10px 0 #000,
	35px 12px 0 #000, 43px 12px 0 #000,
	35px 14px 0 #000, 39px 14px 0 #000, 43px 14px 0 #000,
	35px 16px 0 #000, 43px 16px 0 #000,
	37px 18px 0 #000, 39px 18px 0 #000, 41px 18px 0 #000,
	49px 12px 0 #000, 51px 12px 0 #000,
	47px 14px 0 #000, 49px 14px 0 #000, 51px 14px 0 #000, 53px 14px 0 #000, 55px 14px 0 #000, 59px 14px 0 #000, 63px 14px 0 #000, 67px 14px 0 #000, 71px 14px 0 #000, 75px 14px 0 #000,
	79px 14px 0 #000, 83px 14px 0 #000, 87px 14px 0 #000, 91px 14px 0 #000, 95px 14px 0 #000, 99px 14px 0 #000, 103px 14px 0 #000, 107px 14px 0 #000, 111px 14px 0 #000, 115px 14px 0 #000,
	119px 14px 0 #000, 123px 14px 0 #000, 127px 14px 0 #000, 131px 14px 0 #000, 135px 14px 0 #000, 139px 14px 0 #000, 143px 14px 0 #000, 147px 14px 0 #000, 151px 14px 0 #000, 155px 14px 0 #000,
	159px 14px 0 #000, 163px 14px 0 #000, 167px 14px 0 #000, 171px 14px 0 #000, 175px 14px 0 #000, 179px 14px 0 #000, 183px 14px 0 #000, 187px 14px 0 #000, 
	49px 16px 0 #000, 51px 16px 0 #000,			
	211px 8px 0 #000, 213px 8px 0 #000, 215px 8px 0 #000, 217px 8px 0 #000, 219px 8px 0 #000, 221px 8px 0 #000, 223px 8px 0 #000,
	197px 10px 0 #000, 199px 10px 0 #000, 201px 10px 0 #000, 209px 10px 0 #000, 225px 10px 0 #000, 233px 10px 0 #000, 235px 10px 0 #000, 237px 10px 0 #000,
	193px 12px 0 #000, 195px 12px 0 #000, 203px 12px 0 #000, 207px 12px 0 #000, 227px 12px 0 #000, 231px 12px 0 #000, 239px 12px 0 #000,
	189px 14px 0 #000, 191px 14px 0 #000, 205px 14px 0 #000, 213px 14px 0 #000, 217px 14px 0 #000, 221px 14px 0 #000, 229px 14px 0 #000, 239px 14px 0 #000,
	193px 16px 0 #000, 195px 16px 0 #000, 203px 16px 0 #000, 207px 16px 0 #000, 227px 16px 0 #000, 231px 16px 0 #000, 239px 16px 0 #000,
	197px 18px 0 #000, 199px 18px 0 #000, 201px 18px 0 #000, 209px 18px 0 #000, 225px 18px 0 #000, 233px 18px 0 #000, 235px 18px 0 #000, 237px 18px 0 #000,
	211px 20px 0 #000, 213px 20px 0 #000, 215px 20px 0 #000, 217px 20px 0 #000, 219px 20px 0 #000, 221px 20px 0 #000, 223px 20px 0 #000,
	245px 10px 0 #000, 247px 10px 0 #000, 249px 10px 0 #000,
	243px 12px 0 #000, 251px 12px 0 #000,
	243px 14px 0 #000, 247px 14px 0 #000, 251px 14px 0 #000,
	243px 16px 0 #000, 251px 16px 0 #000,
	245px 18px 0 #000, 247px 18px 0 #000, 249px 18px 0 #000,
	257px 12px 0 #000, 259px 12px 0 #000, 295px 12px 0 #000, 297px 12px 0 #000,
	255px 14px 0 #000, 257px 14px 0 #000, 259px 14px 0 #000, 261px 14px 0 #000, 263px 14px 0 #000, 267px 14px 0 #000, 271px 14px 0 #000, 275px 14px 0 #000, 279px 14px 0 #000, 283px 14px 0 #000, 287px 14px 0 #000, 291px 14px 0 #000, 293px 14px 0 #000, 295px 14px 0 #000, 297px 14px 0 #000, 299px 14px 0 #000, 
	257px 16px 0 #000, 259px 16px 0 #000, 295px 16px 0 #000, 297px 16px 0 #000, 
	301px 8px 0 #000, 313px 8px 0 #000, 
	303px 10px 0 #000, 305px 10px 0 #000, 309px 10px 0 #000, 311px 10px 0 #000,
	303px 12px 0 #000, 305px 12px 0 #000, 309px 12px 0 #000, 311px 12px 0 #000, 
	307px 14px 0 #000,
	303px 16px 0 #000, 305px 16px 0 #000, 309px 16px 0 #000, 311px 16px 0 #000,
	303px 18px 0 #000, 305px 18px 0 #000, 309px 18px 0 #000, 311px 18px 0 #000, 
	301px 20px 0 #000, 313px 20px 0 #000, 
	317px 12px 0 #000, 319px 12px 0 #000, 355px 12px 0 #000, 357px 12px 0 #000, 
	315px 14px 0 #000, 317px 14px 0 #000, 319px 14px 0 #000, 321px 14px 0 #000, 323px 14px 0 #000, 
	327px 14px 0 #000, 331px 14px 0 #000, 335px 14px 0 #000, 339px 14px 0 #000, 343px 14px 0 #000, 347px 14px 0 #000, 
	351px 14px 0 #000, 353px 14px 0 #000, 355px 14px 0 #000, 357px 14px 0 #000, 359px 14px 0 #000, 
	317px 16px 0 #000, 319px 16px 0 #000, 355px 16px 0 #000, 357px 16px 0 #000, 
	365px 10px 0 #000, 367px 10px 0 #000, 369px 10px 0 #000,
	363px 12px 0 #000, 371px 12px 0 #000,
	363px 14px 0 #000, 367px 14px 0 #000, 371px 14px 0 #000,
	363px 16px 0 #000, 371px 16px 0 #000,
	365px 18px 0 #000, 367px 18px 0 #000, 369px 18px 0 #000,
	391px 8px 0 #000, 393px 8px 0 #000, 395px 8px 0 #000, 397px 8px 0 #000, 399px 8px 0 #000, 401px 8px 0 #000, 403px 8px 0 #000,
	377px 10px 0 #000, 379px 10px 0 #000, 381px 10px 0 #000, 389px 10px 0 #000, 405px 10px 0 #000, 413px 10px 0 #000, 415px 10px 0 #000, 417px 10px 0 #000,
	375px 12px 0 #000, 383px 12px 0 #000, 387px 12px 0 #000, 407px 12px 0 #000, 411px 12px 0 #000, 419px 12px 0 #000, 421px 12px 0 #000,
	375px 14px 0 #000, 385px 14px 0 #000, 393px 14px 0 #000, 397px 14px 0 #000, 401px 14px 0 #000, 409px 14px 0 #000, 423px 14px 0 #000, 425px 14px 0 #000,
	375px 16px 0 #000, 383px 16px 0 #000, 387px 16px 0 #000, 407px 16px 0 #000, 411px 16px 0 #000, 419px 16px 0 #000, 421px 16px 0 #000,
	377px 18px 0 #000, 379px 18px 0 #000, 381px 18px 0 #000, 389px 18px 0 #000, 405px 18px 0 #000, 413px 18px 0 #000, 415px 18px 0 #000, 417px 18px 0 #000,
	391px 20px 0 #000, 393px 20px 0 #000, 395px 20px 0 #000, 397px 20px 0 #000, 399px 20px 0 #000, 401px 20px 0 #000, 403px 20px 0 #000,
	431px 8px 0 #000, 443px 8px 0 #000, 
	433px 10px 0 #000, 435px 10px 0 #000, 439px 10px 0 #000, 441px 10px 0 #000,
	433px 12px 0 #000, 435px 12px 0 #000, 439px 12px 0 #000, 441px 12px 0 #000, 
	429px 14px 0 #000, 437px 14px 0 #000, 445px 14px 0 #000, 449px 14px 0 #000, 451px 14px 0 #000, 	
	433px 16px 0 #000, 435px 16px 0 #000, 439px 16px 0 #000, 441px 16px 0 #000,
	433px 18px 0 #000, 435px 18px 0 #000, 439px 18px 0 #000, 441px 18px 0 #000, 
	431px 20px 0 #000, 443px 20px 0 #000, 
	457px 4px 0 #000, 459px 4px 0 #000, 
	455px 6px 0 #000, 461px 6px 0 #000, 
	453px 8px 0 #000, 463px 8px 0 #000, 
	453px 10px 0 #000, 461px 10px 0 #000, 
	455px 12px 0 #000,
	457px 14px 0 #000, 459px 14px 0 #000, 461px 14px 0 #000,
	455px 16px 0 #000,
	453px 18px 0 #000, 461px 18px 0 #000, 
	453px 20px 0 #000, 463px 20px 0 #000, 
	455px 22px 0 #000, 461px 22px 0 #000, 
	457px 24px 0 #000, 459px 24px 0 #000, 
    479px 0px 0 #000,
    479px 2px 0 #000, 
    477px 4px 0 #000, 479px 4px 0 #000, 481px 4px 0 #000,
    471px 6px 0 #000, 477px 6px 0 #000, 481px 6px 0 #000, 487px 6px 0 #000,
    473px 8px 0 #000, 479px 8px 0 #000, 485px 8px 0 #000,
    475px 10px 0 #000, 483px 10px 0 #000,
    469px 12px 0 #000, 471px 12px 0 #000, 477px 12px 0 #000, 479px 12px 0 #000,481px 12px 0 #000, 487px 12px 0 #000, 489px 12px 0 #000,
    465px 14px 0 #000, 467px 14px 0 #000, 469px 14px 0 #000, 473px 14px 0 #000,477px 14px 0 #000, 481px 14px 0 #000, 485px 14px 0 #000, 489px 14px 0 #000, 491px 14px 0 #000, 493px 14px 0 #000,
    469px 16px 0 #000, 471px 16px 0 #000, 477px 16px 0 #000, 479px 16px 0 #000,481px 16px 0 #000, 487px 16px 0 #000, 489px 16px 0 #000,
    475px 18px 0 #000, 483px 18px 0 #000,
    473px 20px 0 #000, 479px 20px 0 #000, 485px 20px 0 #000,
    471px 22px 0 #000, 477px 22px 0 #000, 481px 22px 0 #000, 487px 22px 0 #000,
    477px 24px 0 #000, 479px 24px 0 #000, 481px 24px 0 #000,
    479px 26px 0 #000, 
    479px 28px 0 #000,
	499px 4px 0 #000, 501px 4px 0 #000, 
	497px 6px 0 #000, 503px 6px 0 #000, 
	495px 8px 0 #000, 505px 8px 0 #000,
	497px 10px 0 #000, 505px 10px 0 #000,
	503px 12px 0 #000,	
	497px 14px 0 #000, 499px 14px 0 #000, 501px 14px 0 #000, 
	503px 16px 0 #000,
	497px 18px 0 #000, 505px 18px 0 #000, 
	495px 20px 0 #000, 505px 20px 0 #000, 
	497px 22px 0 #000, 503px 22px 0 #000, 
	499px 24px 0 #000, 501px 24px 0 #000, 
	515px 8px 0 #000, 527px 8px 0 #000, 
	517px 10px 0 #000, 519px 10px 0 #000, 523px 10px 0 #000, 525px 10px 0 #000,
	517px 12px 0 #000, 519px 12px 0 #000, 523px 12px 0 #000, 525px 12px 0 #000, 
	507px 14px 0 #000, 509px 14px 0 #000, 513px 14px 0 #000, 521px 14px 0 #000, 529px 14px 0 #000, 	
	517px 16px 0 #000, 519px 16px 0 #000, 523px 16px 0 #000, 525px 16px 0 #000,
	517px 18px 0 #000, 519px 18px 0 #000, 523px 18px 0 #000, 525px 18px 0 #000, 
	515px 20px 0 #000, 527px 20px 0 #000, 
	555px 8px 0 #000, 557px 8px 0 #000, 559px 8px 0 #000, 561px 8px 0 #000, 563px 8px 0 #000, 565px 8px 0 #000, 567px 8px 0 #000,
	541px 10px 0 #000, 543px 10px 0 #000, 545px 10px 0 #000, 553px 10px 0 #000, 569px 10px 0 #000, 577px 10px 0 #000, 579px 10px 0 #000, 581px 10px 0 #000,
	537px 12px 0 #000, 539px 12px 0 #000, 547px 12px 0 #000, 551px 12px 0 #000, 571px 12px 0 #000, 575px 12px 0 #000, 583px 12px 0 #000,
	533px 14px 0 #000, 535px 14px 0 #000, 549px 14px 0 #000, 557px 14px 0 #000, 561px 14px 0 #000, 565px 14px 0 #000, 573px 14px 0 #000, 583px 14px 0 #000,
	537px 16px 0 #000, 539px 16px 0 #000, 547px 16px 0 #000, 551px 16px 0 #000, 571px 16px 0 #000, 575px 16px 0 #000, 583px 16px 0 #000,
	541px 18px 0 #000, 543px 18px 0 #000, 545px 18px 0 #000, 553px 18px 0 #000, 569px 18px 0 #000, 577px 18px 0 #000, 579px 18px 0 #000, 581px 18px 0 #000,
	555px 20px 0 #000, 557px 20px 0 #000, 559px 20px 0 #000, 561px 20px 0 #000, 563px 20px 0 #000, 565px 20px 0 #000, 567px 20px 0 #000,
	589px 10px 0 #000, 591px 10px 0 #000, 593px 10px 0 #000,
	587px 12px 0 #000, 595px 12px 0 #000,
	587px 14px 0 #000, 591px 14px 0 #000, 595px 14px 0 #000,
	587px 16px 0 #000, 595px 16px 0 #000,
	589px 18px 0 #000, 591px 18px 0 #000, 593px 18px 0 #000,
	601px 12px 0 #000, 603px 12px 0 #000, 639px 12px 0 #000, 641px 12px 0 #000, 	
	599px 14px 0 #000, 601px 14px 0 #000, 603px 14px 0 #000, 605px 14px 0 #000, 607px 14px 0 #000, 
	611px 14px 0 #000, 615px 14px 0 #000, 619px 14px 0 #000, 623px 14px 0 #000, 627px 14px 0 #000, 631px 14px 0 #000, 
	635px 14px 0 #000, 637px 14px 0 #000, 639px 14px 0 #000, 641px 14px 0 #000, 643px 14px 0 #000, 
	601px 16px 0 #000, 603px 16px 0 #000, 639px 16px 0 #000, 641px 16px 0 #000, 
	645px 8px 0 #000, 657px 8px 0 #000, 
	647px 10px 0 #000, 649px 10px 0 #000, 653px 10px 0 #000, 655px 10px 0 #000,
	647px 12px 0 #000, 649px 12px 0 #000, 653px 12px 0 #000, 655px 12px 0 #000, 
	651px 14px 0 #000,
	647px 16px 0 #000, 649px 16px 0 #000, 653px 16px 0 #000, 655px 16px 0 #000,
	647px 18px 0 #000, 649px 18px 0 #000, 653px 18px 0 #000, 655px 18px 0 #000, 
	645px 20px 0 #000, 657px 20px 0 #000,
	661px 12px 0 #000, 663px 12px 0 #000, 699px 12px 0 #000, 701px 12px 0 #000, 	
	659px 14px 0 #000, 661px 14px 0 #000, 663px 14px 0 #000, 665px 14px 0 #000, 667px 14px 0 #000, 
	671px 14px 0 #000, 675px 14px 0 #000, 679px 14px 0 #000, 683px 14px 0 #000, 687px 14px 0 #000, 691px 14px 0 #000,
	695px 14px 0 #000, 697px 14px 0 #000, 699px 14px 0 #000, 701px 14px 0 #000, 703px 14px 0 #000, 
	661px 16px 0 #000, 663px 16px 0 #000, 699px 16px 0 #000, 701px 16px 0 #000, 
	709px 10px 0 #000, 711px 10px 0 #000, 713px 10px 0 #000,
	707px 12px 0 #000, 715px 12px 0 #000,
	707px 14px 0 #000, 711px 14px 0 #000, 715px 14px 0 #000,	
	707px 16px 0 #000, 715px 16px 0 #000,
	709px 18px 0 #000, 711px 18px 0 #000, 713px 18px 0 #000,
	735px 8px 0 #000, 737px 8px 0 #000, 739px 8px 0 #000, 741px 8px 0 #000, 743px 8px 0 #000, 745px 8px 0 #000, 747px 8px 0 #000,
	721px 10px 0 #000, 723px 10px 0 #000, 725px 10px 0 #000, 733px 10px 0 #000, 749px 10px 0 #000, 757px 10px 0 #000, 759px 10px 0 #000, 761px 10px 0 #000,
	719px 12px 0 #000, 727px 12px 0 #000, 731px 12px 0 #000, 751px 12px 0 #000, 755px 12px 0 #000, 763px 12px 0 #000, 765px 12px 0 #000,
	719px 14px 0 #000, 729px 14px 0 #000, 737px 14px 0 #000, 741px 14px 0 #000, 745px 14px 0 #000, 753px 14px 0 #000, 767px 14px 0 #000, 769px 14px 0 #000, 
	719px 16px 0 #000, 727px 16px 0 #000, 731px 16px 0 #000, 751px 16px 0 #000, 755px 16px 0 #000, 763px 16px 0 #000, 765px 16px 0 #000,
	721px 18px 0 #000, 723px 18px 0 #000, 725px 18px 0 #000, 733px 18px 0 #000, 749px 18px 0 #000, 757px 18px 0 #000, 759px 18px 0 #000, 761px 18px 0 #000,
	735px 20px 0 #000, 737px 20px 0 #000, 739px 20px 0 #000, 741px 20px 0 #000, 743px 20px 0 #000, 745px 20px 0 #000, 747px 20px 0 #000,
	907px 12px 0 #000, 909px 12px 0 #000, 
	771px 14px 0 #000, 775px 14px 0 #000, 779px 14px 0 #000, 783px 14px 0 #000, 787px 14px 0 #000, 791px 14px 0 #000, 795px 14px 0 #000, 799px 14px 0 #000, 803px 14px 0 #000, 807px 14px 0 #000,
	811px 14px 0 #000, 815px 14px 0 #000, 819px 14px 0 #000, 823px 14px 0 #000, 827px 14px 0 #000, 831px 14px 0 #000, 835px 14px 0 #000, 839px 14px 0 #000, 843px 14px 0 #000, 847px 14px 0 #000,
	851px 14px 0 #000, 855px 14px 0 #000, 859px 14px 0 #000, 863px 14px 0 #000, 867px 14px 0 #000, 871px 14px 0 #000, 875px 14px 0 #000, 879px 14px 0 #000, 883px 14px 0 #000, 887px 14px 0 #000,
	891px 14px 0 #000, 895px 14px 0 #000, 899px 14px 0 #000, 903px 14px 0 #000, 905px 14px 0 #000, 907px 14px 0 #000, 909px 14px 0 #000, 911px 14px 0 #000, 	
	907px 16px 0 #000, 909px 16px 0 #000, 
	917px 10px 0 #000, 919px 10px 0 #000, 921px 10px 0 #000,
	915px 12px 0 #000, 923px 12px 0 #000,
	915px 14px 0 #000, 919px 14px 0 #000, 923px 14px 0 #000,
	915px 16px 0 #000, 923px 16px 0 #000,
	917px 18px 0 #000, 919px 18px 0 #000, 921px 18px 0 #000,	
	929px 12px 0 #000,931px 12px 0 #000,
	927px 14px 0 #000, 929px 14px 0 #000, 931px 14px 0 #000, 933px 14px 0 #000,935px 14px 0 #000,939px 14px 0 #000,943px 14px 0 #000,947px 14px 0 #000,951px 14px 0 #000,955px 14px 0 #000,
	929px 16px 0 #000,931px 16px 0 #000;	
}
/* ---- 760px ---- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.separator02{ width:760px;height:60px; }
	
	.separator02:after {
		box-shadow:
		3px 14px 0 #000, 7px 14px 0 #000, 11px 14px 0 #000, 15px 14px 0 #000, 19px 14px 0 #000, 23px 14px 0 #000, 27px 14px 0 #000, 31px 14px 0 #000, 
		35px 14px 0 #000, 39px 14px 0 #000, 43px 14px 0 #000, 47px 14px 0 #000, 51px 14px 0 #000, 55px 14px 0 #000, 59px 14px 0 #000, 63px 14px 0 #000,
		67px 14px 0 #000, 71px 14px 0 #000, 75px 14px 0 #000, 79px 14px 0 #000, 83px 14px 0 #000, 87px 14px 0 #000,
		111px 8px 0 #000, 113px 8px 0 #000, 115px 8px 0 #000, 117px 8px 0 #000, 119px 8px 0 #000, 121px 8px 0 #000, 123px 8px 0 #000,
		97px 10px 0 #000, 99px 10px 0 #000, 101px 10px 0 #000, 109px 10px 0 #000, 125px 10px 0 #000, 133px 10px 0 #000, 135px 10px 0 #000, 137px 10px 0 #000,
		93px 12px 0 #000, 95px 12px 0 #000, 103px 12px 0 #000, 107px 12px 0 #000, 127px 12px 0 #000, 131px 12px 0 #000, 139px 12px 0 #000,
		89px 14px 0 #000, 91px 14px 0 #000, 105px 14px 0 #000, 113px 14px 0 #000, 117px 14px 0 #000, 121px 14px 0 #000, 129px 14px 0 #000, 139px 14px 0 #000,
		93px 16px 0 #000, 95px 16px 0 #000, 103px 16px 0 #000, 107px 16px 0 #000, 127px 16px 0 #000, 131px 16px 0 #000, 139px 16px 0 #000,
		97px 18px 0 #000, 99px 18px 0 #000, 101px 18px 0 #000, 109px 18px 0 #000, 125px 18px 0 #000, 133px 18px 0 #000, 135px 18px 0 #000, 137px 18px 0 #000,
		111px 20px 0 #000, 113px 20px 0 #000, 115px 20px 0 #000, 117px 20px 0 #000, 119px 20px 0 #000, 121px 20px 0 #000, 123px 20px 0 #000,
		145px 10px 0 #000, 147px 10px 0 #000, 149px 10px 0 #000,
		143px 12px 0 #000, 151px 12px 0 #000,
		143px 14px 0 #000, 147px 14px 0 #000, 151px 14px 0 #000,
		143px 16px 0 #000, 151px 16px 0 #000,
		145px 18px 0 #000, 147px 18px 0 #000, 149px 18px 0 #000,
		157px 12px 0 #000, 159px 12px 0 #000, 195px 12px 0 #000, 197px 12px 0 #000, 
		155px 14px 0 #000, 157px 14px 0 #000, 159px 14px 0 #000, 161px 14px 0 #000, 163px 14px 0 #000, 
		167px 14px 0 #000, 171px 14px 0 #000, 175px 14px 0 #000, 179px 14px 0 #000, 183px 14px 0 #000, 187px 14px 0 #000, 
		191px 14px 0 #000, 193px 14px 0 #000, 195px 14px 0 #000, 197px 14px 0 #000, 199px 14px 0 #000, 
		157px 16px 0 #000, 159px 16px 0 #000, 195px 16px 0 #000, 197px 16px 0 #000, 
		201px 8px 0 #000, 213px 8px 0 #000, 
		203px 10px 0 #000, 205px 10px 0 #000, 209px 10px 0 #000, 211px 10px 0 #000,
		203px 12px 0 #000, 205px 12px 0 #000, 209px 12px 0 #000, 211px 12px 0 #000, 
		207px 14px 0 #000,
		203px 16px 0 #000, 205px 16px 0 #000, 209px 16px 0 #000, 211px 16px 0 #000,
		203px 18px 0 #000, 205px 18px 0 #000, 209px 18px 0 #000, 211px 18px 0 #000, 
		201px 20px 0 #000, 213px 20px 0 #000, 
		217px 12px 0 #000, 219px 12px 0 #000, 255px 12px 0 #000, 257px 12px 0 #000, 
		215px 14px 0 #000, 217px 14px 0 #000, 219px 14px 0 #000, 221px 14px 0 #000, 223px 14px 0 #000, 
		227px 14px 0 #000, 231px 14px 0 #000, 235px 14px 0 #000, 239px 14px 0 #000, 243px 14px 0 #000, 247px 14px 0 #000, 
		251px 14px 0 #000, 253px 14px 0 #000, 255px 14px 0 #000, 257px 14px 0 #000, 259px 14px 0 #000, 
		217px 16px 0 #000, 219px 16px 0 #000, 255px 16px 0 #000, 257px 16px 0 #000, 
		265px 10px 0 #000, 267px 10px 0 #000, 269px 10px 0 #000,
		263px 12px 0 #000, 271px 12px 0 #000,
		263px 14px 0 #000, 267px 14px 0 #000, 271px 14px 0 #000,
		263px 16px 0 #000, 271px 16px 0 #000,
		265px 18px 0 #000, 267px 18px 0 #000, 269px 18px 0 #000,
		291px 8px 0 #000, 293px 8px 0 #000, 295px 8px 0 #000, 297px 8px 0 #000, 299px 8px 0 #000, 301px 8px 0 #000, 303px 8px 0 #000,
		277px 10px 0 #000, 279px 10px 0 #000, 281px 10px 0 #000, 289px 10px 0 #000, 305px 10px 0 #000, 313px 10px 0 #000, 315px 10px 0 #000, 317px 10px 0 #000,
		275px 12px 0 #000, 283px 12px 0 #000, 287px 12px 0 #000, 307px 12px 0 #000, 311px 12px 0 #000, 319px 12px 0 #000, 321px 12px 0 #000,
		275px 14px 0 #000, 285px 14px 0 #000, 293px 14px 0 #000, 297px 14px 0 #000, 301px 14px 0 #000, 309px 14px 0 #000, 323px 14px 0 #000, 325px 14px 0 #000,
		275px 16px 0 #000, 283px 16px 0 #000, 287px 16px 0 #000, 307px 16px 0 #000, 311px 16px 0 #000, 319px 16px 0 #000, 321px 16px 0 #000,
		277px 18px 0 #000, 279px 18px 0 #000, 281px 18px 0 #000, 289px 18px 0 #000, 305px 18px 0 #000, 313px 18px 0 #000, 315px 18px 0 #000, 317px 18px 0 #000,
		291px 20px 0 #000, 293px 20px 0 #000, 295px 20px 0 #000, 297px 20px 0 #000, 299px 20px 0 #000, 301px 20px 0 #000, 303px 20px 0 #000,
		331px 8px 0 #000, 343px 8px 0 #000, 
		333px 10px 0 #000, 335px 10px 0 #000, 339px 10px 0 #000, 341px 10px 0 #000,
		333px 12px 0 #000, 335px 12px 0 #000, 339px 12px 0 #000, 341px 12px 0 #000, 
		329px 14px 0 #000, 337px 14px 0 #000, 345px 14px 0 #000, 349px 14px 0 #000, 351px 14px 0 #000, 	
		333px 16px 0 #000, 335px 16px 0 #000, 339px 16px 0 #000, 341px 16px 0 #000,
		333px 18px 0 #000, 335px 18px 0 #000, 339px 18px 0 #000, 341px 18px 0 #000, 
		331px 20px 0 #000, 343px 20px 0 #000, 
		357px 4px 0 #000, 359px 4px 0 #000, 
		355px 6px 0 #000, 361px 6px 0 #000, 
		353px 8px 0 #000, 363px 8px 0 #000, 
		353px 10px 0 #000, 361px 10px 0 #000, 
		355px 12px 0 #000,
		357px 14px 0 #000, 359px 14px 0 #000, 361px 14px 0 #000,
		355px 16px 0 #000,
		353px 18px 0 #000, 361px 18px 0 #000, 
		353px 20px 0 #000, 363px 20px 0 #000, 
		355px 22px 0 #000, 361px 22px 0 #000, 
		357px 24px 0 #000, 359px 24px 0 #000, 	
		379px 0px 0 #000,
		379px 2px 0 #000, 
		377px 4px 0 #000, 379px 4px 0 #000, 381px 4px 0 #000,
		371px 6px 0 #000, 377px 6px 0 #000, 381px 6px 0 #000, 387px 6px 0 #000,
		373px 8px 0 #000, 379px 8px 0 #000, 385px 8px 0 #000,
		375px 10px 0 #000, 383px 10px 0 #000,
		369px 12px 0 #000, 371px 12px 0 #000, 377px 12px 0 #000, 379px 12px 0 #000, 381px 12px 0 #000, 387px 12px 0 #000, 389px 12px 0 #000,
		365px 14px 0 #000, 367px 14px 0 #000, 369px 14px 0 #000, 373px 14px 0 #000, 377px 14px 0 #000, 381px 14px 0 #000, 385px 14px 0 #000, 389px 14px 0 #000, 391px 14px 0 #000, 393px 14px 0 #000,
		369px 16px 0 #000, 371px 16px 0 #000, 377px 16px 0 #000, 379px 16px 0 #000, 381px 16px 0 #000, 387px 16px 0 #000, 389px 16px 0 #000,
		375px 18px 0 #000, 383px 18px 0 #000,
		373px 20px 0 #000, 379px 20px 0 #000, 385px 20px 0 #000,
		371px 22px 0 #000, 377px 22px 0 #000, 381px 22px 0 #000, 387px 22px 0 #000,
		377px 24px 0 #000, 379px 24px 0 #000, 381px 24px 0 #000,
		379px 26px 0 #000, 
		379px 28px 0 #000,
		399px 4px 0 #000, 401px 4px 0 #000, 
		397px 6px 0 #000, 403px 6px 0 #000, 
		395px 8px 0 #000, 405px 8px 0 #000,
		397px 10px 0 #000, 405px 10px 0 #000,
		403px 12px 0 #000,	
		397px 14px 0 #000, 399px 14px 0 #000, 401px 14px 0 #000, 
		403px 16px 0 #000,
		397px 18px 0 #000, 405px 18px 0 #000, 
		395px 20px 0 #000, 405px 20px 0 #000, 
		397px 22px 0 #000, 403px 22px 0 #000, 
		399px 24px 0 #000, 401px 24px 0 #000, 
		415px 8px 0 #000, 427px 8px 0 #000, 
		417px 10px 0 #000, 419px 10px 0 #000, 423px 10px 0 #000, 425px 10px 0 #000,
		417px 12px 0 #000, 419px 12px 0 #000, 423px 12px 0 #000, 425px 12px 0 #000, 
		407px 14px 0 #000, 409px 14px 0 #000, 413px 14px 0 #000, 421px 14px 0 #000, 429px 14px 0 #000, 	
		417px 16px 0 #000, 419px 16px 0 #000, 423px 16px 0 #000, 425px 16px 0 #000,
		417px 18px 0 #000, 419px 18px 0 #000, 423px 18px 0 #000, 425px 18px 0 #000, 
		415px 20px 0 #000, 427px 20px 0 #000, 
		455px 8px 0 #000, 457px 8px 0 #000, 459px 8px 0 #000, 461px 8px 0 #000, 463px 8px 0 #000, 465px 8px 0 #000, 467px 8px 0 #000,
		441px 10px 0 #000, 443px 10px 0 #000, 445px 10px 0 #000, 453px 10px 0 #000, 469px 10px 0 #000, 477px 10px 0 #000, 479px 10px 0 #000, 481px 10px 0 #000,
		437px 12px 0 #000, 439px 12px 0 #000, 447px 12px 0 #000, 451px 12px 0 #000, 471px 12px 0 #000, 475px 12px 0 #000, 483px 12px 0 #000,
		433px 14px 0 #000, 435px 14px 0 #000, 449px 14px 0 #000, 457px 14px 0 #000, 461px 14px 0 #000, 465px 14px 0 #000, 473px 14px 0 #000, 483px 14px 0 #000,
		437px 16px 0 #000, 439px 16px 0 #000, 447px 16px 0 #000, 451px 16px 0 #000, 471px 16px 0 #000, 475px 16px 0 #000, 483px 16px 0 #000,
		441px 18px 0 #000, 443px 18px 0 #000, 445px 18px 0 #000, 453px 18px 0 #000, 469px 18px 0 #000, 477px 18px 0 #000, 479px 18px 0 #000, 481px 18px 0 #000,
		455px 20px 0 #000, 457px 20px 0 #000, 459px 20px 0 #000, 461px 20px 0 #000, 463px 20px 0 #000, 465px 20px 0 #000, 467px 20px 0 #000,
		489px 10px 0 #000, 491px 10px 0 #000, 493px 10px 0 #000,
		487px 12px 0 #000, 495px 12px 0 #000,
		487px 14px 0 #000, 491px 14px 0 #000, 495px 14px 0 #000,
		487px 16px 0 #000, 495px 16px 0 #000,
		489px 18px 0 #000, 491px 18px 0 #000, 493px 18px 0 #000,
		501px 12px 0 #000, 503px 12px 0 #000, 539px 12px 0 #000, 541px 12px 0 #000, 	
		499px 14px 0 #000, 501px 14px 0 #000, 503px 14px 0 #000, 505px 14px 0 #000, 507px 14px 0 #000, 
		511px 14px 0 #000, 515px 14px 0 #000, 519px 14px 0 #000, 523px 14px 0 #000, 527px 14px 0 #000, 531px 14px 0 #000, 
		535px 14px 0 #000, 537px 14px 0 #000, 539px 14px 0 #000, 541px 14px 0 #000, 543px 14px 0 #000, 
		501px 16px 0 #000, 503px 16px 0 #000, 539px 16px 0 #000, 541px 16px 0 #000, 
		545px 8px 0 #000, 557px 8px 0 #000, 
		547px 10px 0 #000, 549px 10px 0 #000, 553px 10px 0 #000, 555px 10px 0 #000,
		547px 12px 0 #000, 549px 12px 0 #000, 553px 12px 0 #000, 555px 12px 0 #000, 
		551px 14px 0 #000,
		547px 16px 0 #000, 549px 16px 0 #000, 553px 16px 0 #000, 555px 16px 0 #000,
		547px 18px 0 #000, 549px 18px 0 #000, 553px 18px 0 #000, 555px 18px 0 #000, 
		545px 20px 0 #000, 557px 20px 0 #000, 
		561px 12px 0 #000, 563px 12px 0 #000, 599px 12px 0 #000, 601px 12px 0 #000, 	
		559px 14px 0 #000, 561px 14px 0 #000, 563px 14px 0 #000, 565px 14px 0 #000, 567px 14px 0 #000, 
		571px 14px 0 #000, 575px 14px 0 #000, 579px 14px 0 #000, 583px 14px 0 #000, 587px 14px 0 #000, 591px 14px 0 #000,
		595px 14px 0 #000, 597px 14px 0 #000, 599px 14px 0 #000, 601px 14px 0 #000, 603px 14px 0 #000, 
		561px 16px 0 #000, 563px 16px 0 #000, 599px 16px 0 #000, 601px 16px 0 #000, 		
		609px 10px 0 #000, 611px 10px 0 #000, 613px 10px 0 #000,
		607px 12px 0 #000, 615px 12px 0 #000,
		607px 14px 0 #000, 611px 14px 0 #000, 615px 14px 0 #000,	
		607px 16px 0 #000, 615px 16px 0 #000,
		609px 18px 0 #000, 611px 18px 0 #000, 613px 18px 0 #000,
		635px 8px 0 #000, 637px 8px 0 #000, 639px 8px 0 #000, 641px 8px 0 #000, 643px 8px 0 #000, 645px 8px 0 #000, 647px 8px 0 #000,
		621px 10px 0 #000, 623px 10px 0 #000, 625px 10px 0 #000, 633px 10px 0 #000, 649px 10px 0 #000, 657px 10px 0 #000, 659px 10px 0 #000, 661px 10px 0 #000,
		619px 12px 0 #000, 627px 12px 0 #000, 631px 12px 0 #000, 651px 12px 0 #000, 655px 12px 0 #000, 663px 12px 0 #000, 665px 12px 0 #000,
		619px 14px 0 #000, 629px 14px 0 #000, 637px 14px 0 #000, 641px 14px 0 #000, 645px 14px 0 #000, 653px 14px 0 #000, 667px 14px 0 #000, 669px 14px 0 #000, 139px 14px 0 #000,
		619px 16px 0 #000, 627px 16px 0 #000, 631px 16px 0 #000, 651px 16px 0 #000, 655px 16px 0 #000, 663px 16px 0 #000, 665px 16px 0 #000,
		621px 18px 0 #000, 623px 18px 0 #000, 625px 18px 0 #000, 633px 18px 0 #000, 649px 18px 0 #000, 657px 18px 0 #000, 659px 18px 0 #000, 661px 18px 0 #000,
		635px 20px 0 #000, 637px 20px 0 #000, 639px 20px 0 #000, 641px 20px 0 #000, 643px 20px 0 #000, 645px 20px 0 #000, 647px 20px 0 #000,
		671px 14px 0 #000, 675px 14px 0 #000, 679px 14px 0 #000, 683px 14px 0 #000, 687px 14px 0 #000, 691px 14px 0 #000, 695px 14px 0 #000, 699px 14px 0 #000, 
		703px 14px 0 #000, 707px 14px 0 #000, 711px 14px 0 #000, 715px 14px 0 #000, 719px 14px 0 #000, 723px 14px 0 #000, 727px 14px 0 #000, 731px 14px 0 #000,
		735px 14px 0 #000, 739px 14px 0 #000, 743px 14px 0 #000, 747px 14px 0 #000, 751px 14px 0 #000, 755px 14px 0 #000;
	}
}
/* ---- 420px ---- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.separator02{ width:420px;height:60px; }
	
	.separator02:after {
		box-shadow:
		25px 12px 0 #000, 27px 12px 0 #000,
		1px 14px 0 #000, 5px 14px 0 #000, 9px 14px 0 #000, 13px 14px 0 #000, 17px 14px 0 #000,21px 14px 0 #000,23px 14px 0 #000,25px 14px 0 #000,27px 14px 0 #000,29px 14px 0 #000,
		25px 16px 0 #000, 27px 16px 0 #000,
		31px 8px 0 #000, 43px 8px 0 #000,
		33px 10px 0 #000, 35px 10px 0 #000, 39px 10px 0 #000, 41px 10px 0 #000,
		33px 12px 0 #000, 35px 12px 0 #000, 39px 12px 0 #000, 41px 12px 0 #000,
		37px 14px 0 #000,
		33px 16px 0 #000, 35px 16px 0 #000, 39px 16px 0 #000, 41px 16px 0 #000,
		33px 18px 0 #000, 35px 18px 0 #000, 39px 18px 0 #000, 41px 18px 0 #000,
		31px 20px 0 #000, 43px 20px 0 #000,
		47px 12px 0 #000, 49px 12px 0 #000, 85px 12px 0 #000, 87px 12px 0 #000, 
		45px 14px 0 #000, 47px 14px 0 #000, 49px 14px 0 #000, 51px 14px 0 #000, 53px 14px 0 #000, 57px 14px 0 #000, 61px 14px 0 #000, 65px 14px 0 #000, 69px 14px 0 #000, 73px 14px 0 #000, 77px 14px 0 #000, 81px 14px 0 #000, 83px 14px 0 #000, 85px 14px 0 #000, 87px 14px 0 #000, 89px 14px 0 #000, 
		47px 16px 0 #000, 49px 16px 0 #000, 85px 16px 0 #000, 87px 16px 0 #000,
		95px 10px 0 #000, 97px 10px 0 #000, 99px 10px 0 #000,
		93px 12px 0 #000, 101px 12px 0 #000,
		93px 14px 0 #000, 97px 14px 0 #000, 101px 14px 0 #000,
		93px 16px 0 #000, 101px 16px 0 #000,
		95px 18px 0 #000, 97px 18px 0 #000, 99px 18px 0 #000,
		121px 8px 0 #000, 123px 8px 0 #000, 125px 8px 0 #000, 127px 8px 0 #000, 129px 8px 0 #000, 131px 8px 0 #000, 133px 8px 0 #000, 
		107px 10px 0 #000, 109px 10px 0 #000, 111px 10px 0 #000, 119px 10px 0 #000, 135px 10px 0 #000, 143px 10px 0 #000, 145px 10px 0 #000, 147px 10px 0 #000, 
		105px 12px 0 #000, 113px 12px 0 #000, 117px 12px 0 #000, 137px 12px 0 #000, 141px 12px 0 #000, 149px 12px 0 #000, 151px 12px 0 #000, 
		105px 14px 0 #000, 115px 14px 0 #000, 123px 14px 0 #000, 127px 14px 0 #000, 131px 14px 0 #000, 139px 14px 0 #000, 153px 14px 0 #000, 155px 14px 0 #000, 
		105px 16px 0 #000, 113px 16px 0 #000, 117px 16px 0 #000, 137px 16px 0 #000, 141px 16px 0 #000, 149px 16px 0 #000, 151px 16px 0 #000, 
		107px 18px 0 #000, 109px 18px 0 #000, 111px 18px 0 #000, 119px 18px 0 #000, 135px 18px 0 #000, 143px 18px 0 #000, 145px 18px 0 #000, 147px 18px 0 #000, 
		121px 20px 0 #000, 123px 20px 0 #000, 125px 20px 0 #000, 127px 20px 0 #000, 129px 20px 0 #000, 131px 20px 0 #000, 133px 20px 0 #000,
		161px 8px 0 #000, 173px 8px 0 #000,
		163px 10px 0 #000, 165px 10px 0 #000, 169px 10px 0 #000, 171px 10px 0 #000,
		163px 12px 0 #000, 165px 12px 0 #000, 169px 12px 0 #000, 171px 12px 0 #000,
		159px 14px 0 #000, 167px 14px 0 #000, 175px 14px 0 #000, 179px 14px 0 #000, 181px 14px 0 #000,
		163px 16px 0 #000, 165px 16px 0 #000, 169px 16px 0 #000, 171px 16px 0 #000,
		163px 18px 0 #000, 165px 18px 0 #000, 169px 18px 0 #000, 171px 18px 0 #000,
		161px 20px 0 #000, 173px 20px 0 #000,
		187px 4px 0 #000, 189px 4px 0 #000, 
		185px 6px 0 #000, 191px 6px 0 #000, 
		183px 8px 0 #000, 193px 8px 0 #000, 
		183px 10px 0 #000, 191px 10px 0 #000, 
		185px 12px 0 #000,
		187px 14px 0 #000, 189px 14px 0 #000, 191px 14px 0 #000,
		185px 16px 0 #000,
		183px 18px 0 #000, 191px 18px 0 #000, 
		183px 20px 0 #000, 193px 20px 0 #000, 
		185px 22px 0 #000, 191px 22px 0 #000, 
		187px 24px 0 #000, 189px 24px 0 #000, 
		209px 0px 0 #000,
		209px 2px 0 #000, 
		207px 4px 0 #000, 209px 4px 0 #000,211px 4px 0 #000,
		201px 6px 0 #000, 207px 6px 0 #000, 211px 6px 0 #000, 217px 6px 0 #000,
		203px 8px 0 #000, 209px 8px 0 #000, 215px 8px 0 #000,
		205px 10px 0 #000, 213px 10px 0 #000,   
		199px 12px 0 #000, 201px 12px 0 #000, 207px 12px 0 #000, 209px 12px 0 #000,211px 12px 0 #000,217px 12px 0 #000,219px 12px 0 #000,
		195px 14px 0 #000, 197px 14px 0 #000, 199px 14px 0 #000, 203px 14px 0 #000,207px 14px 0 #000,211px 14px 0 #000,215px 14px 0 #000,219px 14px 0 #000,221px 14px 0 #000,223px 14px 0 #000,
		199px 16px 0 #000, 201px 16px 0 #000, 207px 16px 0 #000, 209px 16px 0 #000,211px 16px 0 #000,217px 16px 0 #000,219px 16px 0 #000,
		205px 18px 0 #000, 213px 18px 0 #000,
		203px 20px 0 #000, 209px 20px 0 #000, 215px 20px 0 #000,
		201px 22px 0 #000, 207px 22px 0 #000, 211px 22px 0 #000, 217px 22px 0 #000,
		207px 24px 0 #000, 209px 24px 0 #000,211px 24px 0 #000,
		209px 26px 0 #000, 
		209px 28px 0 #000,
		229px 4px 0 #000, 231px 4px 0 #000, 
		227px 6px 0 #000, 233px 6px 0 #000, 
		225px 8px 0 #000, 235px 8px 0 #000,
		227px 10px 0 #000, 235px 10px 0 #000,
		233px 12px 0 #000,
		227px 14px 0 #000, 229px 14px 0 #000, 231px 14px 0 #000, 
		233px 16px 0 #000,
		227px 18px 0 #000, 235px 18px 0 #000, 
		225px 20px 0 #000, 235px 20px 0 #000, 
		227px 22px 0 #000, 233px 22px 0 #000, 
		229px 24px 0 #000, 231px 24px 0 #000, 
		245px 8px 0 #000, 257px 8px 0 #000,
		247px 10px 0 #000, 249px 10px 0 #000, 253px 10px 0 #000, 255px 10px 0 #000,
		247px 12px 0 #000, 249px 12px 0 #000, 253px 12px 0 #000, 255px 12px 0 #000,
		237px 14px 0 #000, 239px 14px 0 #000, 243px 14px 0 #000, 251px 14px 0 #000, 259px 14px 0 #000,
		247px 16px 0 #000, 249px 16px 0 #000, 253px 16px 0 #000, 255px 16px 0 #000,
		247px 18px 0 #000, 249px 18px 0 #000, 253px 18px 0 #000, 255px 18px 0 #000,
		245px 20px 0 #000, 257px 20px 0 #000,
		285px 8px 0 #000, 287px 8px 0 #000, 289px 8px 0 #000, 291px 8px 0 #000, 293px 8px 0 #000, 295px 8px 0 #000, 297px 8px 0 #000, 
		271px 10px 0 #000, 273px 10px 0 #000, 275px 10px 0 #000, 283px 10px 0 #000, 299px 10px 0 #000, 307px 10px 0 #000, 309px 10px 0 #000, 311px 10px 0 #000,	
		267px 12px 0 #000, 269px 12px 0 #000, 277px 12px 0 #000, 281px 12px 0 #000, 301px 12px 0 #000, 305px 12px 0 #000, 313px 12px 0 #000, 
		263px 14px 0 #000, 265px 14px 0 #000, 279px 14px 0 #000, 287px 14px 0 #000, 291px 14px 0 #000, 295px 14px 0 #000, 303px 14px 0 #000, 313px 14px 0 #000, 		
		267px 16px 0 #000, 269px 16px 0 #000, 277px 16px 0 #000, 281px 16px 0 #000, 301px 16px 0 #000, 305px 16px 0 #000, 313px 16px 0 #000, 
		271px 18px 0 #000, 273px 18px 0 #000, 275px 18px 0 #000, 283px 18px 0 #000, 299px 18px 0 #000, 307px 18px 0 #000, 309px 18px 0 #000, 311px 18px 0 #000,	
		285px 20px 0 #000, 287px 20px 0 #000, 289px 20px 0 #000, 291px 20px 0 #000, 293px 20px 0 #000, 295px 20px 0 #000, 297px 20px 0 #000, 
		319px 10px 0 #000, 321px 10px 0 #000, 323px 10px 0 #000,
		317px 12px 0 #000, 325px 12px 0 #000,
		317px 14px 0 #000, 321px 14px 0 #000, 325px 14px 0 #000,
		317px 16px 0 #000, 325px 16px 0 #000,
		319px 18px 0 #000, 321px 18px 0 #000, 323px 18px 0 #000,
		331px 12px 0 #000, 333px 12px 0 #000, 369px 12px 0 #000, 371px 12px 0 #000, 
		329px 14px 0 #000, 331px 14px 0 #000, 333px 14px 0 #000, 335px 14px 0 #000, 337px 14px 0 #000, 341px 14px 0 #000, 345px 14px 0 #000, 349px 14px 0 #000, 353px 14px 0 #000, 357px 14px 0 #000, 361px 14px 0 #000, 365px 14px 0 #000, 367px 14px 0 #000, 369px 14px 0 #000, 371px 14px 0 #000, 373px 14px 0 #000, 
		331px 16px 0 #000, 333px 16px 0 #000, 369px 16px 0 #000, 371px 16px 0 #000, 
		375px 8px 0 #000, 387px 8px 0 #000,
		377px 10px 0 #000, 379px 10px 0 #000, 383px 10px 0 #000, 385px 10px 0 #000,
		377px 12px 0 #000, 379px 12px 0 #000, 383px 12px 0 #000, 385px 12px 0 #000,
		381px 14px 0 #000,
		377px 16px 0 #000, 379px 16px 0 #000, 383px 16px 0 #000, 385px 16px 0 #000,
		377px 18px 0 #000, 379px 18px 0 #000, 383px 18px 0 #000, 385px 18px 0 #000,
		375px 20px 0 #000, 387px 20px 0 #000,
		391px 12px 0 #000, 393px 12px 0 #000,
		389px 14px 0 #000, 391px 14px 0 #000, 393px 14px 0 #000, 395px 14px 0 #000, 397px 14px 0 #000, 401px 14px 0 #000, 405px 14px 0 #000, 409px 14px 0 #000, 413px 14px 0 #000, 417px 14px 0 #000,
		391px 16px 0 #000, 393px 16px 0 #000;
	}
}
/* ---- 300px ---- */
@media only screen and (max-width: 479px) {	
	.separator02{ width:300px;height:60px; }
	
	.separator02:after {
		box-shadow:
		25px 12px 0 #000, 27px 12px 0 #000,
		1px 14px 0 #000,5px 14px 0 #000, 9px 14px 0 #000, 13px 14px 0 #000, 17px 14px 0 #000,21px 14px 0 #000,23px 14px 0 #000,25px 14px 0 #000,27px 14px 0 #000,29px 14px 0 #000,
		25px 16px 0 #000, 27px 16px 0 #000,
		35px 10px 0 #000, 37px 10px 0 #000, 39px 10px 0 #000,
		33px 12px 0 #000, 41px 12px 0 #000,
		33px 14px 0 #000, 37px 14px 0 #000, 41px 14px 0 #000,
		33px 16px 0 #000, 41px 16px 0 #000,
		35px 18px 0 #000, 37px 18px 0 #000, 39px 18px 0 #000,
		61px 8px 0 #000, 63px 8px 0 #000, 65px 8px 0 #000, 67px 8px 0 #000, 69px 8px 0 #000, 71px 8px 0 #000, 73px 8px 0 #000, 
		47px 10px 0 #000, 49px 10px 0 #000, 51px 10px 0 #000, 59px 10px 0 #000, 75px 10px 0 #000, 83px 10px 0 #000, 85px 10px 0 #000, 87px 10px 0 #000, 
		45px 12px 0 #000, 53px 12px 0 #000, 57px 12px 0 #000, 77px 12px 0 #000, 81px 12px 0 #000, 89px 12px 0 #000, 91px 12px 0 #000, 
		45px 14px 0 #000, 55px 14px 0 #000, 63px 14px 0 #000, 67px 14px 0 #000, 71px 14px 0 #000, 79px 14px 0 #000, 93px 14px 0 #000, 95px 14px 0 #000, 
		45px 16px 0 #000, 53px 16px 0 #000, 57px 16px 0 #000, 77px 16px 0 #000, 81px 16px 0 #000, 89px 16px 0 #000, 91px 16px 0 #000, 
		47px 18px 0 #000, 49px 18px 0 #000, 51px 18px 0 #000, 59px 18px 0 #000, 75px 18px 0 #000, 83px 18px 0 #000, 85px 18px 0 #000, 87px 18px 0 #000, 
		61px 20px 0 #000, 63px 20px 0 #000, 65px 20px 0 #000, 67px 20px 0 #000, 69px 20px 0 #000, 71px 20px 0 #000, 73px 20px 0 #000, 
		101px 8px 0 #000, 113px 8px 0 #000,
		103px 10px 0 #000, 105px 10px 0 #000, 109px 10px 0 #000, 111px 10px 0 #000,
		103px 12px 0 #000, 105px 12px 0 #000, 109px 12px 0 #000, 111px 12px 0 #000,
		99px 14px 0 #000, 107px 14px 0 #000, 115px 14px 0 #000, 119px 14px 0 #000, 121px 14px 0 #000,
		103px 16px 0 #000, 105px 16px 0 #000, 109px 16px 0 #000, 111px 16px 0 #000,
		103px 18px 0 #000, 105px 18px 0 #000, 109px 18px 0 #000, 111px 18px 0 #000,
		101px 20px 0 #000, 113px 20px 0 #000,
		127px 4px 0 #000, 129px 4px 0 #000, 
		125px 6px 0 #000, 131px 6px 0 #000, 
		123px 8px 0 #000, 133px 8px 0 #000, 
		123px 10px 0 #000, 131px 10px 0 #000, 
		125px 12px 0 #000,
		127px 14px 0 #000, 129px 14px 0 #000, 131px 14px 0 #000, 
		125px 16px 0 #000,
		123px 18px 0 #000, 131px 18px 0 #000, 
		123px 20px 0 #000, 133px 20px 0 #000, 
		125px 22px 0 #000, 131px 22px 0 #000, 
		127px 24px 0 #000, 129px 24px 0 #000, 
		149px 0px 0 #000,
		149px 2px 0 #000, 
		147px 4px 0 #000, 149px 4px 0 #000,151px 4px 0 #000,
		141px 6px 0 #000, 147px 6px 0 #000, 151px 6px 0 #000, 157px 6px 0 #000,
		143px 8px 0 #000, 149px 8px 0 #000, 155px 8px 0 #000,
		145px 10px 0 #000, 153px 10px 0 #000,   
		139px 12px 0 #000, 141px 12px 0 #000, 147px 12px 0 #000, 149px 12px 0 #000,151px 12px 0 #000,157px 12px 0 #000,159px 12px 0 #000,
		135px 14px 0 #000, 137px 14px 0 #000, 139px 14px 0 #000, 143px 14px 0 #000,147px 14px 0 #000,151px 14px 0 #000,155px 14px 0 #000,159px 14px 0 #000,161px 14px 0 #000,163px 14px 0 #000,
		139px 16px 0 #000, 141px 16px 0 #000, 147px 16px 0 #000, 149px 16px 0 #000,151px 16px 0 #000,157px 16px 0 #000,159px 16px 0 #000,
		145px 18px 0 #000, 153px 18px 0 #000,
		143px 20px 0 #000, 149px 20px 0 #000, 155px 20px 0 #000,
		141px 22px 0 #000, 147px 22px 0 #000, 151px 22px 0 #000, 157px 22px 0 #000,
		147px 24px 0 #000, 149px 24px 0 #000,151px 24px 0 #000,
		149px 26px 0 #000, 
		149px 28px 0 #000,
		169px 4px 0 #000, 171px 4px 0 #000, 
		167px 6px 0 #000, 173px 6px 0 #000, 
		165px 8px 0 #000, 175px 8px 0 #000,
		167px 10px 0 #000, 175px 10px 0 #000, 
		173px 12px 0 #000,
		167px 14px 0 #000, 169px 14px 0 #000, 171px 14px 0 #000, 
		173px 16px 0 #000,
		167px 18px 0 #000, 175px 18px 0 #000, 
		165px 20px 0 #000, 175px 20px 0 #000, 
		167px 22px 0 #000, 173px 22px 0 #000, 
		169px 24px 0 #000, 171px 24px 0 #000, 
		185px 8px 0 #000, 197px 8px 0 #000,
		187px 10px 0 #000, 189px 10px 0 #000, 193px 10px 0 #000, 195px 10px 0 #000,
		187px 12px 0 #000, 189px 12px 0 #000, 193px 12px 0 #000, 195px 12px 0 #000,
		177px 14px 0 #000, 179px 14px 0 #000, 183px 14px 0 #000, 191px 14px 0 #000, 199px 14px 0 #000,
		187px 16px 0 #000, 189px 16px 0 #000, 193px 16px 0 #000, 195px 16px 0 #000,
		187px 18px 0 #000, 189px 18px 0 #000, 193px 18px 0 #000, 195px 18px 0 #000,
		185px 20px 0 #000, 197px 20px 0 #000,
		225px 8px 0 #000, 227px 8px 0 #000, 229px 8px 0 #000, 231px 8px 0 #000, 233px 8px 0 #000, 235px 8px 0 #000, 237px 8px 0 #000, 
		211px 10px 0 #000, 213px 10px 0 #000, 215px 10px 0 #000, 223px 10px 0 #000, 239px 10px 0 #000, 247px 10px 0 #000, 249px 10px 0 #000, 251px 10px 0 #000,	
		207px 12px 0 #000, 209px 12px 0 #000, 217px 12px 0 #000, 221px 12px 0 #000, 241px 12px 0 #000, 245px 12px 0 #000, 253px 12px 0 #000, 
		203px 14px 0 #000, 205px 14px 0 #000, 219px 14px 0 #000, 227px 14px 0 #000, 231px 14px 0 #000, 235px 14px 0 #000, 243px 14px 0 #000, 253px 14px 0 #000, 		
		207px 16px 0 #000, 209px 16px 0 #000, 217px 16px 0 #000, 221px 16px 0 #000, 241px 16px 0 #000, 245px 16px 0 #000, 253px 16px 0 #000, 
		211px 18px 0 #000, 213px 18px 0 #000, 215px 18px 0 #000, 223px 18px 0 #000, 239px 18px 0 #000, 247px 18px 0 #000, 249px 18px 0 #000, 251px 18px 0 #000,	
		225px 20px 0 #000, 227px 20px 0 #000, 229px 20px 0 #000, 231px 20px 0 #000, 233px 20px 0 #000, 235px 20px 0 #000, 237px 20px 0 #000,
		259px 10px 0 #000, 261px 10px 0 #000, 263px 10px 0 #000,
		257px 12px 0 #000, 265px 12px 0 #000,
		257px 14px 0 #000, 261px 14px 0 #000, 265px 14px 0 #000,
		257px 16px 0 #000, 265px 16px 0 #000,
		259px 18px 0 #000, 261px 18px 0 #000, 263px 18px 0 #000,
		271px 12px 0 #000, 273px 12px 0 #000,
		269px 14px 0 #000, 271px 14px 0 #000, 273px 14px 0 #000, 275px 14px 0 #000, 277px 14px 0 #000, 281px 14px 0 #000, 285px 14px 0 #000, 289px 14px 0 #000, 293px 14px 0 #000, 297px 14px 0 #000,
		271px 16px 0 #000, 273px 16px 0 #000;
	}
}