

.ic-cont{
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    padding: 20px;
    background-color: rgba(45, 52, 54, 0.8);
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    animation: carousel_anim 0.05s linear;
}

.ic-box{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 95vw;
    height: 90vh;
    max-height: 100vh;
}

@keyframes carousel_anim{
    0%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}

.carousel-image-max-height{
    /* max-height: 70vh; */
    text-align: center;
}

.carousel-image{
    max-height: calc(100vh - 40%);
}