

.file-upload-container{
    min-height: 250px;
    padding: 10px;
    background-color: #ecf0f1;
}

.file-upload-block{
    border: dashed 3px var(--gray);
    padding: 20px 5px;
    background-color: #dfe4ea;
    border-radius: 5px;
    transition: 0.2s;
}

.file-upload-block:hover{
    border: dashed 3px var(--dark-gray);
}

.file-upload-title{
    padding: 5px;
    margin: 0;
}

.file-upload-icon-cont{
    text-align: center;
    padding: 25px 0;
}

.fu-icon{
    font-size: 80px;
    color: var(--gray);
}

.file-upload-btn-cont{
    text-align: center;
    margin-top: 20px;
}

.file-upload-btn{
    border: solid 2px var(--blue);
    border-radius: 4px;
    padding: 4px 15px;
    transition: 0.2s;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.file-upload-btn:hover{
    border: solid 2px var(--red);
    color: white;
    background-color: var(--dark-gray);
    box-shadow: var(--box-shadow);
}

.file-upload-btn:focus{
    outline: none;
}

.fupload-btn-icon{
    margin-right: 10px;
}

.file-upload-inp{
    display: none;
}